.dropbtn {
  color: white;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;

}

.dropdown-content a {
  color: black;
  padding: 16px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  display: flex;
  justify-self: center;
  align-self: center;
}

a {
  text-decoration: none;
  color: inherit
}

ul li {
  padding: 5px 10px;
  color: #fff;
  margin: 0 3px;
}

li:hover {
  background-color: #666;
}
