:root {
  background: center url("../image/background.jpg");
}

.card {
  width: 70%;
  height: 800px;
  background-color: #333;
  margin: auto;
}

.title {
  color: #fff;
  position: relative;
  left: 5%;
  top: 3%;
  font-family: sans-serif;
}

.subtitle {
  color: #fff;
  position: relative;
  justify-content: space-between;
  left: 5%;
  top: 1%;
  font-style: italic;
}

.title:hover {
  color: #dc143c;
  cursor: pointer;
}

.banner {
  background: url("../image/banner.jpg") center no-repeat;
  width: 100%;
  height: 50%;
  position: relative;
  top: 1%;
}

.nav {
  background: linear-gradient(to bottom, #000,#333);
  border: 2px solid black;
  height: 10%;
  position: relative;
  top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
